@import 'settings'

*
  box-sizing border-box

html
body
  font-family font-fam !important
  height 100%
  width 100%
  font-size 14px
  line-height 15px
  margin 0

  >main 
    >header
      height 100px
      display: flex
      align-items: center
      justify-content: center

.text-center
  text-align: center