@import 'settings'

*
  box-sizing border-box

html
body
  font-family font-fam !important
  height 100%
  width 100%
  font-size 14px
  line-height 15px

  >main 
    margin 4rem

.text-center
  text-align: center