@import '../../styles/settings'
sidebar-width = 400px

#sidebar
  position: absolute
  top: header-height
  left: 0
  height 100%
  width 400px
  border-left 1px solid lightGrey
  padding 1rem

#story
  position: absolute
  top: header-height
  right: 0
  width calc(100% - 400px)
  height 100%
  padding 1rem
  text-align: left
